<div class="content">
    <div class="float-left">
        <ul id="update-products">
            <li>
                <div><div class="item">Agregar Producto</div><span></span></div>
                <div><div class="item">Nombre</div> <input type="text" /></div> 
                <div><div class="item">Precio($)</div> <input type="text" /></div>
                <div><div class="item">Stock</div> <input type="text" /></div>
                <div>
                    <input type="button" value="agregar" />
                    
                </div>
         </li>
        </ul>
    </div>

</div>
